*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.navbar-links{
    display: flex;
    column-gap: 20px;
}

.navbar-link a {
    text-decoration: none;
    color: rgb(203, 220, 135);
}

.navbar-link a:hover{
    text-decoration: underline;
    color: rgb(164, 161, 221);
}
