@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Light-gray);
    font-family: 'Outfit';
    height: 100vh;
    display: grid;
    place-content: center;
}

.main {
    background-color: var(--White);
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    text-align: center;
}

#img {
    width: 300px;
    height: 300px;
    margin: 15px;
    border-radius: 10px;
}

h2{
    margin: 10px 20px;
    color: var(--Dark-blue);
}

p {
    color: var(--Grayish-blue);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin: 10px 40px 40px 40px;
}

.attribution {
    font-size: 10px;
    text-align: center;
    margin: 10px;
}